<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>entry</key>
    <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>icon</key>
        <string>lfetcher-icon.png</string>
        <key>label</key>
        <string>L'Fetcher</string>
    </dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.apple.mobileipod</string>
            <key>key</key>
            <string>LGREnable</string>
            <key>label</key>
            <string>Enabled</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>default</key>
            <string>LGRAZLyricsOperation</string>
            <key>defaults</key>
            <string>com.apple.mobileipod</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>key</key>
            <string>LGROperation</string>
            <key>label</key>
            <string>Fetch lyrics from</string>
            <key>validValues</key>
            <array>
                <string>LGRAZLyricsOperation</string>
                <string>LGRLyricsWikiOperation</string>
            </array>
            <key>validTitles</key> 
            <array>
                <string>AZLyrics</string>
                <string>LyricsWiki</string>
            </array>
        </dict>
    </array>
    <key>title</key>
    <string>L'Fetcher</string>
</dict>
</plist>
