Name: FetchMyLyrics
Version: 0.1
Package: org.thebigboss.fetchmylyrics
Depends: mobilesubstrate, preferenceloader, firmware (>= 5.0)
Priority: optional
Architecture: iphoneos-arm
Description: Automatically download lyrics from the Internet for Music.app/iPod.app.
Homepage: http://precocity.nerdycat.com/fetchmylyrics
Maintainer: Tom Cat <tomthecat94+fetchmylyrics@gmail.com>
Author: Tom Cat <tomthecat94+fetchmylyrics@gmail.com>
Section: Multimedia
